<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3><a href="/user/login">Войти</a></h3>
            <h3><a href="/register">Регистрация</a></h3>
        </div>
    </div>
</div>