<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3 style="margin-bottom: 30px">Войти</h3>
            <div class="form-group">
                <form action="" method="post">
                    <label for="login">Логин</label>
                    <input type="text" id="login" name="login" class="form-control" required>
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>
            </div>
        </div>
    </div>
</div>